@charset "UTF-8";

a.visualizar{
    text-decoration: none;
}

a.visualizar:visited{
    color: #0018F0;
}

a.visualizar:hover{
    color: #020b60;
    background-color: yellow;
    text-decoration: underline;
}
